
<style>
    table {
      border-collapse: collapse;
      width: 100%;
      border-radius: 25px;
    }
    th, td {
      text-align: left;
      padding: 12px;
      border: 1px solid #ddd;
    }
    tr:nth-child(even) {background-color: #f2f2f2;}
  </style>
<div class="wrapper">
<div class="container">
<div class="toolbar" role="banner">
<h1>Eligibility</h1>
<div class="spacer"></div> 
<div class="container">
   <div class="row">
       <div class="col-md-12">  
            
        <form name="form" #f="ngForm"  novalidate>
            <div class="form-group">
                <label for="member_id">Cert No / SSN: </label>
                <input type="text" maxlength="9" class="form-control" name="ssn" [(ngModel)]="model.ssn" #ssn="ngModel"  /> 
            </div>

           <div class="form-group">
              <button type="submit" (click)="getData()">Submit</button>   
           </div>

           <div class="form-group">
               <button type="submit" (click)="LogoutUser()">Logout</button>   
           </div>

        </form>
        </div>
    </div>
</div>
<div class="container container-2">
    <ng-container *ngIf="cert">
    <table id="CERT Numbers" class="table table-stripped">
         <tbody>
             <tr> 
                 <th *ngFor="let column of theader"> {{column}} </th>
             </tr>
             <tr *ngFor="let column of tvalue"> 
                <td *ngFor ="let i of column">{{i}}</td>
                <td><button mat-button (click)="searchSSN(column)">search</button></td>
             </tr>           
         </tbody>
    </table>
    </ng-container>
</div>
   </div>
   </div>
   </div>

<router-outlet></router-outlet>

